:root {
    --intro-length: 3s; /* 3.5 */
    --theme-bg: darkblue;
    --theme-fg: white;
}

html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;

    & .password-input-mode {
        background-color: var(--theme-bg);
    }
}

#app > header {
    transition:300ms ease;
    height:1vh;
    min-height: 80px;
    background: var(--theme-bg);
    color: white;
    border-radius: 0px 0px 20px 20px;

    &.password-input-mode {
        border-radius: 0px !important;
        height: 90vh;
    }

    & #password-input {
        display: none;
        height: 75%;
        gap:10px;

        &.password-input-mode {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        & label {

            & input {
                color: white;
                background: transparent;
                border: none;
        
                &::before {
                    content: "> ";
                    color:white;
                }

                &:focus {
                    border:none;
                    outline: none;
                    box-shadow: none;
                }
            }
        }

        
    }

    & hgroup {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;

        & h1 {
            text-align: center;
            width: 100%;
    
            &::before {
                content: "ClientCrypt";
                font-family: 'Courier New', Courier, monospace;
                animation: cryptic-flash var(--intro-length);
            }
        }

        & span {
            margin-top: -23px;
            color: #8585ff;
            font-size: 1rem;
            cursor: pointer;
            &::before {
                content: "▼";
            }
            &.password-input-mode {
                display: none;
            }
        }

        & p {
            color: rgb(65, 65, 65);
        }
    }
    
    
}

main {
    margin:20px 0px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    width: 100%;

    &.password-input-mode {
        display: none;
    }
}

details {
    width: 100%;
    overflow: hidden;

    & summary {
        cursor: pointer;
        list-style-type: "◇";
        color: var(--theme-bg);
        font-size: 1.7rem;
        font-weight: bold;
        margin-left: 10px;
        user-select: none;
        padding-left: 10px;
        background: white;
        z-index: 100;
        position: relative;

        & span {
            color:black;
        }
    }

    &[open] {
        & summary {
            list-style-type: "◆";
        }

    }

    & .details-content {
        display: flex;
        flex-direction: column;
        padding:20px 20px 40px 20px;
        margin: 0px 20px;
        align-items: center;
        border-bottom: 1px solid lightgray;
        gap: 20px;

        & #file-encryption {
            margin-top: 20px;
            display: flex;
            width: 100%;
            max-width: 700px;
            justify-content: space-around;
            gap: 20px;
        }

    }
}


.button {
    background: var(--theme-bg);
    font-weight: bold;
    font-family: system-ui;
    box-shadow: 0px 2px 2px 0px gray;
    color: white;
    font-size: 1.3rem;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 10px;
    flex: 1;
    text-align: center;
    cursor: pointer;
    transition: 200ms;

    &.secondary {
        border: 1px solid var(--theme-bg);
        background: white;
        color: var(--theme-bg);
    }

    &:hover {
        box-shadow: none !important;
        transform:translateY(2px)
    }

    & input {
        display: none;
    }
}

#text-input {
    width: 100%;
    border:2px solid var(--theme-bg);
    border-radius: 15px;
    padding: 5px;
}

.button-group {
    display: flex;
    justify-content: center;
    gap:15px; 

    & button {
    }
}

#download-anchor {
    display: none;
}

/* INTRO */

@keyframes cryptic-flash-in-out {
    0% {
        content: "ClientCrypt";
    }

    5% {
        content: "Clie3tCrypt";
    }

    10% {
        content: "Ckie3tCrypt";
    }

    15% {
        content: "Ckie3tCrXpt";
    }

    20% {
        content: "Ckie3tIrXpt";
    }

    25% {
        content: "Ckie3tIrXp$";
    }

    30% {
        content: "Dkve3tIrXp$";
    }

    35% {
        content: "Dkve4tIjXp$";
    }

    40% {
        content: "Dkve3tIjXp$";
    }

    45% {
        content: "Dkwe3tIjXp$";
    }

    50% {
        content: "Dkie3tIjXp$";
    }

    55% {
        content: "Dkie4tIjXp$";
    }

    60% {
        content: "Dkie3tIrXp$";
    }

    65% {
        content: "Ckie3tIrXp$";
    }

    70% {
        content: "Ckie3tIrXpt";
    }

    85% {
        content: "Ckie3tCrXpt";
    }

    90% {
        content: "Ckie3tCrypt";
    }

    95% {
        content: "Clie3tCrypt";
    }

    100% {
        content: "ClientCrypt";
    }
}

@keyframes cryptic-flash {
    0% {
        content: "Ev4b3dmOXp$"
    }

    5% {
        content: "Ev4I3dmOXp$"
    }

    10% {
        content: "Ev4I3dmoXp$"
    }

    15% {
        content: "Ev4e3dmoXp$"
    }

    20% {
        content: "Ev4e3dIoXp$"
    }

    25% {
        content: "Ek4e3dIoXp$"
    }

    30% {
        content: "Ek4e3dIjXp$"
    }

    35% {
        content: "Ek4e3xIjXp$"
    }

    40% {
        content: "Qk4e3xIjXp$"
    }

    45% {
        content: "Qk4e3tIjXp$";
    }

    50% {
        content: "Qkie3tIjXp$";
    }

    55% {
        content: "Qkie4tIjXp$";
    }

    60% {
        content: "Qkie3tIrXp$";
    }

    65% {
        content: "Ckie3tIrXp$";
    }

    70% {
        content: "Ckie3tIrXpt";
    }

    85% {
        content: "Ckie3tCrXpt";
    }

    90% {
        content: "Ckie3tCrypt";
    }

    95% {
        content: "Clie3tCrypt";
    }

    100% {
        content: "ClientCrypt";
    }
}

/*
#intro {
    background-color: var(--theme-bg);
    color: var(--theme-fg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: intro-fade .5s var(--intro-delay) forwards;
}

#intro-title::before {
    content: "ClientCrypt";
    font-family: 'Courier New', Courier, monospace;
    animation: cryptic-flash 1s;
}

@keyframes intro-fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}



<div id="intro" style="display: none;">
    <h1 id="intro-title"></h1>
</div>

*/